# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.log

# Virtual environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local database files
playtarget.db
*.db
*.duckdb
*.duckdb.wal

# Environment variables
.env

# Test/coverage
.pytest_cache/
.coverage
htmlcov/